<body>
  <div class="container-fluid">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#home" role="tab" data-toggle="tab">Description</a></li>
      <li><a href="#profile" role="tab" data-toggle="tab">Supplies</a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div class="profile">
          <h1><%=@craft.name%></h1>
          <img class="thumbnail" src=<%=@craft.image_url%> />
          <p><%=@craft.description%></p>
        </div>
      </div>

      <div class="tab-pane" id="profile">

        <div class="profile">


          <ul class="media-list">
            <%@res.each do |name, item|%>
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src=<%=@craft.image_url%> >
                </a>
                <div class="media-body">
                  <h1><%=name%></h1>
                  <p>
                    <%=item.get('ItemAttributes/Title')%>
                    <a href="<%=item.get_element('ItemLinks/ItemLink/URL')%>">buy now</a>
                  </p>
                  <br></br>
              <%end%>
                </div>
            </li>
          </ul>
        </div>

      </div>

    </div>


  </div>
</body>