<!DOCTYPE html>

<body>
    <div class="container-fluid">

        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
          <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
          <li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
          <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <div class="profile">
          <h1><%=@craft.name%></h1>
            <img src=<%=@craft.image_url%> alt=<%=@craft.name%> />
            <div class="caption">
                <p><%=@craft.description%></p>
                <h6><a href="<%=@craft.source_url%>">from: <%=@craft.source_url%></a></h6>
                <p><a href="#" class="glyphicon glyphicon-star" class="btn btn-primary" role="button"></a>
            </div>
          <p><a class="btn btn-primary btn-lg" role="button">buy supplies</a></p>
        </div>

        <div class="tab-content">
          <div class="tab-pane active" id="home">...</div>
          <div class="tab-pane" id="profile">...</div>
          <div class="tab-pane" id="messages">...</div>
          <div class="tab-pane" id="settings">...</div>
        </div>
    </div>

</body>