<body>
  <div class="container-fluid">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#home" role="tab" data-toggle="tab">Description</a></li>
      <li><a href="#profile" role="tab" data-toggle="tab">Supplies</a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div class="profile">
          <h1><%=@craft.name%></h1>
          <img class="thumbnail" src=<%=@craft.image_url%> />
          <p><%=@craft.description%></p>
        </div>
      </div>

      <div class="tab-pane" id="profile">

        <div class="profile">
          <%@res.items.each do |item|%>
            <%=item.get('ItemAttributes/Title')%>
            <%=item.get('ItemAttributes/Title')%>
          <%end%>
        </div>

      </div>

    </div>


  </div>
</body>